
.fa-search {
  position: absolute;
  left: 8px;
  top: 56%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.searchBox {
  padding-left: 30px;
}

.search-bar {
  position: relative;
}

.searchBox {
  height: 40px;
}
