<div class="row mb-2">
    <div class="col">
      <!--snippet Search / Filter / Results Start-->
      <form id="id_searchBar" class="form-inline search-bar input-dropdown-wrap">
        <i class="fas fa-search"></i> 

        <input
          #typeAheadSearch
          type="text"
          class="form-control pr-5 searchBox"
          placeholder="{{placeHolder}}"
          aria-label="search items"
          aria-describedby="basic-addon2"
          required
          id="filter"
        />
      </form>
    </div>
</div>
  