@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* styles.css or app.component.css */
mat-form-field {
  width: fit-content;
}
/* app.component.css */
.select-all-option {
  font-weight: bold;
}


#grid {
  height: 500px;
}

.options {
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

.option > span {
  margin-right: 10px;
}

.option > .dx-widget {
  display: inline-block;
  vertical-align: middle;
}
.Search{
  position: relative;
  left: 45rem;
  color: rgb(12, 16, 130);
  background: #fdfdfe;
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  cursor: pointer;
  bottom: 14rem; 
  border-radius: 1rem;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.test{
  position: relative;
  bottom: 9rem;
}
.custom-select {
  width: 16rem;
    left: 20rem;
  position: relative;
 // left: 25rem;
  border: 1px solid rgb(230 232 255);
  box-shadow: 0 4px 8px rgba(126 128 132);
  bottom: 8rem;
  height: 4rem;
  
}
.defaulttext{
  font-size: 22px;
    color: lightgray;
    position: relative;
    text-align: center;
    top: 5rem;
}
label{
  position: relative;
  bottom: 4rem;
  left: 44rem;
  font-size: 1.1rem;
    color: dimgray;
}
dx-button{
  background: #f7f6f6;
  position: relative;
  left: 25.2rem;
  top: 3.8rem;
  height: 32px;
  border: none;
}

dx-datagrid-text-content dx-text-content-alignment-left{
  color: #080d7f;
    font-weight: bold;
}

.datefield{
  position: relative;
    bottom: 14rem;
    left: 43rem;
    width: 15rem;
    height: 2rem;
    color: darkgrey;
    border: 1px solid #dad7d7;
    box-shadow: 0 4px 8px rgba(126 128 132);
    height: 4.2rem;
}
.search:hover {
  background-color: #5f9fe4;
  cursor: pointer;
}
h1{
  
  font-size: 3rem;;
    text-align: center;
    font-weight: 500;
    color: #16147e;
}
.hint-text{
  bottom: 7rem;
    left: 33rem;
    font-size: x-small;
    color: #0f15a1;
}
hr{
  position: relative;
  bottom: 5rem;
  color: gray;
  width: 91rem;
}
@media (max-width:1024px) and (min-width:768px){
  .defaulttext{
    position: relative;
    left: 25rem;
  }

  dx-data-grid{
    width: 88rem;
  }
  hr{
    width: 88rem;
  }
  h1{
    width:88rem
  }
}

@media (max-width:1440px) and (min-width:1024px){
  .defaulttext{
    position: relative;
    left: 19rem;
  }

  dx-data-grid{
    width: 89rem;
  }

.report-logo-align{
  position: relative;
  left: 54rem;
}
h1{
  width: 87rem;
}
}
.group-icon{
  color: #080d7f;
  position: relative;
     bottom: 3.4rem;;
    left: 19rem;
    font-size: 27px;
}

.clock-icon{
color: #080d7f;
position: relative;
    bottom: 13.9rem;
    left: 42rem;
    font-size: 1.5rem;
}
.search-icon{
  color: #080d7f;
}
.report-logo-align{
  position: relative;
  width: 13rem;
  height: 7rem;
  left: 62rem;
  bottom: 6rem;
}
