@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* styles.css or app.component.css */
mat-form-field {
  width: fit-content;
}
/* app.component.css */
.select-all-option {
  font-weight: bold;
}


#grid {
  height: 500px;
}

.options {
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

.option > span {
  margin-right: 10px;
}

.option > .dx-widget {
  display: inline-block;
  vertical-align: middle;
}
.Search{
  position: relative;
  left: 53rem;
  color: white;
  background: #2121a9;
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  cursor: pointer;
  bottom: 4rem; 
  border-radius: 1rem;
}
.custom-select {
  width: 200px; /* Adjust the width as needed */
  position: relative;
  left: 25rem;
  border: 1px solid rgb(108, 106, 106);
}
.defaulttext{
  font-size: 22px;
    color: lightgray;
    position: relative;
    text-align: center;
}
label{
  position: relative;
  bottom: 4rem;
  left: 44rem;
  font-size: 1.1rem;
    color: dimgray;
}
dx-button{
  background: #f7f6f6;
  position: relative;
  left: 25.2rem;
  top: 3.8rem;
  height: 32px;
  border: none;
}

dx-datagrid-text-content dx-text-content-alignment-left{
  color: #080d7f;
    font-weight: bold;
}

.datefield{
  position: relative;
    bottom: 4rem;
    left: 45rem;
    width: 12rem;
    height: 2rem;
    color: darkgrey;
}
.search:hover {
  background-color: #5f9fe4;
  cursor: pointer;
}
h1{
  
  font-size: larger;
  font-size: xx-large;
    text-align: center;
    font-weight: 500;
}