<div class="container-fluid" id="tableId">
  <div id="itemsmainrow" class="row">
    <div id="itemHeadingDiv" class="col-md-12 mt-2 mb-3 d-inline">
      <h3 id="itemHeading" class="d-inline" *ngIf="showHeader">{{Pageheader}}</h3>
    </div>
  </div>
  <ng-container>
    <!-- Search bar Start -->
    <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
      <div class="col-md-12">
          <div class="form-group row">
              <label id="creaedFrmDate_lbl" class="col-md-1 control-label"
                style="text-align: center; margin-top: 0.65rem;">
                  Date
              </label>
              <div class="col-md-4">
                  <p-calendar id="createdFrmDate_calender" #createdFromDateComp [readonlyInput]='true'
                      [inputStyle]="{'width':'100%'}" name="createdFrmDate" [showIcon]="true" 
                      [(ngModel)]="createdFromDate" (onSelect)="onDateSelect($event)" [iconDisplay]="'input'" 
                      [minDate]="minDate"  [maxDate]="maxDate" >
                  </p-calendar>
              </div>
          </div>
      </div>
    </div>
    <!-- Search bar End -->
    <form *ngIf="_listInfo?.length !== 0" [formGroup]="appForm">
      <!-- list view -->
      <ng-container>
        <div>
          <table id="listTableHdr" class="table table-responsive">
            <thead>
              <tr>
                <th *ngFor="let col of listColumns; index as j" id="col{{ col.name }}" [style.width.%]="col.widthPct" style="text-align: center;">
                  <div *ngIf="col.date">
                    {{col.date}}
                  </div>
                  <div [ngClass]="col.date ? '' : 'mb-3'">
                    {{ col.label }}
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let info of _listInfo ; index as i" id="listIfo{{ i }}" class="table-expand-row">
                  <ng-container *ngFor="let col of listColumns; index as j">
                    <td id="col{{ col.name }}{{ j }}{{ i }}" [ngStyle]="{'text-align': col.type == 'label' ? 'center': ''}">
                      <ng-container *ngIf="col.type == 'label';else dropdown">
                        {{info[col.name]}}
                      </ng-container>  
                      <ng-template #dropdown>
                        <ng-select 
                          clearAllText="Clear"
                          dropdownPosition="auto"
                          [bindLabel]="'label'"
                          [bindValue]="'value'"
                          [items]="[{'label': 'WFO', 'value': 1}]"
                          dropdownPosition="auto"
                          [placeholder]="'select'"
                          dropdownPosition="auto"
                          (change)="setSelectionToVariable(info,$event, col)"
                          [formControlName]="getControlName(info, col)"
                          id="select_{{ i }}"
                        >
                          <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div>
                                {{ item.label }}
                            </div>
                          </ng-template>
                        </ng-select>
                      </ng-template>            
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
              <ng-content></ng-content>
            </tbody>
          </table>
        </div>
        <ng-template #noRecords>
          <div class="no-records-container">
            <p>No rows to show</p>
          </div>
        </ng-template>
      </ng-container>
      <!-- list view -->
    </form>
  </ng-container>
</div>
