<app-side-nav-bar 
    [selectedMenuItem]="selectedMenuItem"
    [subSideNav]="subSideNav"
    (goToPath)="sideNavClick($event)"
    (sideNavToggleStatus)="sideNavToggleStatus($event)"
></app-side-nav-bar>
<section class="home-section" [ngClass]="sideNavStatus ? 'open' : ''">
    <app-table-generator
        [_listInfo]="listInfo"
        [listColumns]="listColumns"
        [listObservable]="listObservable"
        Pageheader="Team List"
        (addNew)="add($event)"
        (goToDetails)="add($event)"
        (deleteclicked)="delete($event)"
    ></app-table-generator>
</section>