<div class="sidebar" [ngClass]="sideNavStatus ? 'open' : 'close'">
  <div class="toggle-icon" (click)="toggleSideNav()">
    <i
      class="fa-solid fa-angles letfarrow"
      [ngClass]="sideNavStatus ? 'fa-solid fa-angles-left' : 'fa-solid fa-angles-right'" 
    ></i>
  </div>
  <ul class="nav-list">
    <li *ngFor="let item of subSideNav">
      <a id="sideNavItem_{{item.section}}" class="nav-link" [ngClass]="{'required' : item?.mandatory}"
         (click)="setActiveTabAndGo(item)" [class.active]="selectedMenuItem === item.label || selectedMenuItem == item.section"
         [routerLink]="item.link">
        <span class="subSideNav-icon-holder" [ngClass]="{'hasDataFalse' : item.hasData == false}">
          <i class="fa-solid fa-tick icon-green subSideNav-icon" *ngIf="item.hasData == true"></i>
        </span>
        <i [ngClass]="item.iconClass" [class.active]="selectedMenuItem === item.label || selectedMenuItem == item.section"
        [routerLink]="item.link" aria-hidden="false" [attr.aria-label]="item.ariaLabel"></i>
        <span class="links_name" [class.active]="selectedMenuItem === item.label || selectedMenuItem == item.section"
        [routerLink]="item.link">{{item.label}}</span>
        <span class="tooltip">{{item.tooltip}}</span>
      </a>
    </li>
  </ul>
  </div>

