$color_1: #fff;
$color_2: #11101d;
$color_3: #2c3294;
$color_4: #4361ee;
  ul {
  padding-left: 0;
  cursor: pointer;
  display: contents;
}
.sidebar {
  position: absolute;
  left: 0;
  height: 100%;
  top: 44px;
  width: 78px;  
  background: $color_3;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  .toggle-icon {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 590px;
    .icon {
      cursor: pointer;
      font-size: 16px;
    }
  }
  i {
    color: $color_1;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  li {
    position: relative;
    margin: 8px 0;
    list-style: none;
    border: 1px solid $color_4;
    border-radius: 6px;
    bottom: 4rem;
    .tooltip {
      position: absolute;
      top: -20px;
      left: calc(100% + 15px);
      z-index: 3;
      background: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: 0s;
    }
    a {
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: 6px;
      align-items: center;
      text-decoration: none;
      transition: all 0.4s ease;
      &:hover {
        background: $color_4;
        .links_name {
          transition: all 0.5s ease;
        }
        i {
          transition: all 0.5s ease;
        }
        .tooltip {
          opacity: 1;
          pointer-events: auto;
          transition: all 0.4s ease;
          top: 50%;
          transform: translateY(-50%);
          color: #1d1b31;
        }
      }
      .links_name {
        color: $color_1;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
        &.active {
          color: orange;
        }
      }
      
    }
    ul {
      margin: 0px 5px;
    }
    i {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      border-radius: 12px;
    }

    img {
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 6px;
      margin-right: 10px;
    }
  }
  &.open {
    width: 250px;
    .logo-details {
      .icon {
        opacity: 1;
        
      }

      #btn {
        text-align: right;
      }
    }
    li {
      .tooltip {
        display: none;
      }
      a {
        .links_name {
          opacity: 1;
          pointer-events: auto;
          font-size: larger;
        }
      }
    }
    input {
      padding: 0 20px 0 50px;
      width: 100%;
    }
    .bx-search {
      &:hover {
        background: #1d1b31;
        color: $color_1;
      }
    }
  }
  &.close {
    .nav-list {
      li {
        ul {
          li {
            i {
              min-width: 36px;
            }
          }
        }
      }
    }
  }
}
// @media (max-width: 420px) {
//   .sidebar {
//     li {
//       .tooltip {
//         display: none;
//       }
//     }
//   }
// }
