.details{
  position: relative;
    top: 1.7rem;
    right: 1rem;
}

.projectiocn{

  position: relative;
    top: 4rem;
    right: 2rem;
}
.employeedetails{
  right: 3rem;
  position: relative;
  top: 6rem;
}
