.readOnlyScreen {
    display: flex;
    justify-content: space-evenly;
}
.detailsForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    label {
        padding-right: 10px;
    }
}

form {
    margin: 20px;
}

.formBtn {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 83vh; /* Adjust as needed */
    overflow-y: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.inputDiv {
    display: flex;
    justify-content: space-evenly;
}

.checkBoxStyles {
    margin-top: 15px;
}

.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}

.ng-option.add-new-option {
    font-weight: bold;
    color: blue;
}

.clear-button{
    padding: 0px 35px 2px 35px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: white;
    background: darkslategray;
}

.save-button{
    padding: 0px 35px 2px 35px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: white;
    background: green;
}