<div class="navBarDiv">
    <div>
        <nav class="navBar">
            <ul id="id_topNavMenuItems" class="navbar-nav">
                <li *ngFor="let menu of topNavMenu; index as i" id="id_topNavMenuItem_{{ menu.code }}"
                class="nav-item">
                    <a  
                        *ngIf="menu.backbutton == undefined"
                        id="id_topNavMenu_{{ menu.code }}" 
                        class="nav-link"
                        routerLink="{{ menu.routerLink }}"
                        [innerHTML]="menu.name"
                    >
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- logout.component.html -->
    <div class="logout-container">
        <span class="user-name">{{ user.name }}</span>
        <i class="fas fa-sign-out-alt" (click)="logout()" title="Logout"></i>
    </div>    
    <div class="back-button">
        <a>
            <i class="fa-solid fa-person-walking-arrow-loop-left" style="color: aliceblue; cursor: pointer; position: relative;
            top: 0.6rem;"
                title="goBack" (click)="goBack($event)"
            >
            </i>
        </a>
    </div>
</div>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>