.navbar-nav .nav-item a {
    padding: 5px;
    //padding:10px 5px 3px 5px;
    color: #fff;
    margin-left: 20px;
}

.navbar-nav .nav-item a:hover {
    padding: 5px;
    //padding:10px 5px 3px 5px;
    //border-radius: 6px;
    background-color: 'orange';
    color: #fff !important;
}

.navBarDiv {
    background-color: #4b2b7b;
}