.navbar-nav  {
  display: flex;
  flex-direction: row;
  .nav-item a {
    padding: 10px;
    color: #fff;
    margin-left: 20px;
    font-size:x-large;
  }
}

.navbar-nav .nav-item a:hover {
  padding: 10px;
  color: #fff !important;
}

.navBarDiv {
  display: flex;
  justify-content: space-between;
  background-color: #2c3294;
}

.back-button {
    margin-right: 12px;
    font-size: x-large;
}