<header class="header">
  <div class="navBarDiv">
      <nav class="navBar">
          <ul id="id_topNavMenuItems" class="navbar-nav">
              <li *ngFor="let menu of topNavMenu; index as i" id="id_topNavMenuItem_{{ menu.code }}"
                  class="nav-item">
                  <a  
                      *ngIf="menu.backbutton == undefined"
                      id="id_topNavMenu_{{ menu.code }}" 
                      class="nav-link"
                      routerLink="{{ menu.routerLink }}"
                      [innerHTML]="menu.name">
                  </a>
              </li>
          </ul>
      </nav>
      <div class="back-button">
          <a>
              <i class="fa-solid fa-circle-chevron-left" style="color: #ffffff;" title="goBack" (click)="goBack($event)"></i>
          </a>
      </div>
      <div class="addHeader_profileDetails">
          <p class="header-label">LoggedIn User : &nbsp;&nbsp;<span class="addHeader_profileName">{{ profileType }}</span></p>
          <p class="header-label"><span class="addHeader_logTime">TVM Infotech Pvt Ltd</span></p>
      </div>
      <div class="addHeader_profileAvatar">
          <div class="dropdown">
              <a class="dropdown-toggle d-block">
                  <i class="fa-regular fa-user"></i>
              </a>
              <ul class="dropdown-menu sb_dropdown">
                  <li><a class="dropdown-item" (click)="viewProfile()">View Profile</a></li>
                  <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
          </div>
      </div>
  </div>
</header>

<div class="container-fluid navigated-page">
  <router-outlet></router-outlet>
</div>


<ng-template #employeeDialog let-data>
  <h1 mat-dialog-title>Profile Details</h1>
  <div mat-dialog-content>
    <p><strong>Name:</strong> {{ data.name }}</p>
    <p><strong>Position:</strong> {{ data.position }}</p>
    <p><strong>Department:</strong> {{ data.department }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>
