<div>
    <marquee direction="right" behavior="alternate" scrollamount="5" onmouseover="this.stop();" onmouseout="this.start();" style="font-size:24px;">
      Welcome to TVM Infotech
    </marquee>
  </div>
<div style="text-align: center;">
    <img class="logo" src="https://media.licdn.com/dms/image/C560BAQGLJut2ZXul_Q/company-logo_200_200/0/1655982267391?e=1724284800&v=beta&t=WYbEdalK5ouToCWcChf24Pd4d_NWBhlQuB5lI4226ps" 
    alt="Company Logo" style="width: 200px; height: 200px;">f
  </div>  
