<nav *ngIf="breadcrumbs.length" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last;">
      <li class="breadcrumb-item" [class.active]="breadcrumb.label === activeCrum" style="font-size:20px; color: cornflowerblue;">
        <a [routerLink]="breadcrumb.url" (click)="nav(breadcrumb)">{{ breadcrumb.label }}</a>
      </li>
      <ng-container *ngIf="!last">
        <li class="fa-solid icon fa-angle-right"></li>
      </ng-container>
    </ng-container>
  </ol>
</nav>
