
#listTableHdr {
  width: 100%;
}

#listTableHdr th {
  padding: 8px;
  text-align: left;
  font-weight: bold;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

#listTableHdr td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#listTableHdr tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.table-responsive {
  overflow-x: auto;
}
 .aligedelete{
  cursor: pointer;
    position: relative;
    right: 5rem;
}
.add-create{
  position: relative;
    right: 5rem;
}
